extends layout

block content
  h2 Select a Note:

  #bar
  mixin note_list(title)
    option(value="#{title}") #{title}

  
  
  select
    +note_list("Select a value")
    for note in returnedData
      +note_list(note.title)
        
block scripts
  script(src='/js/libs/highcharts.js')
  script(type='text/javascript')
    if(!{data}) {
      $(function () {
        $(document).ready(function() {
        var chart = new Highcharts.Chart({
          chart: {
            renderTo: 'bar',
            type: 'column'
          },
          title: {
            text: 'Dates'
          },
          xAxis: {
            categories: !{monthNamesArray}},
          series: [{name: 'Dates', data:!{data}}]
        });
        });
      });
    }
