extends layout

block content
  .content.section
    h2 Select a Note:
  
    mixin note_list(title, guid)
      option(value="#{guid}") #{title}
  
    -if (session.error)
      h2 Error
      p
        =session.error
    
    form(action='/notes', method='POST')
      select(name='select')
        +note_list("Select a value", 0)
        if session.notes
          for note in session.notes
            +note_list(note.title, note.guid)
        else
          for note in notes
            +note_list(note.title, note.guid)
      input.input(type='submit', name='action', value='submit')
  
    #bar
  
block scripts
  if workData
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/js/libs/highcharts.js')
    script(src='/js/libs/exporting.js')
    script.
        $(document).ready(function() {
          var chart = new Highcharts.Chart({
            chart: {
              zoomType: 'xy',
              renderTo: 'bar'
            },
            title: {
              text: 'Work Done Per Month'
            },
            subtile: {
              text: 'Averages included'
            },
            xAxis: {
              categories: !{monthNamesArray}
            },
            yAxis: [{
              title: {
                text: 'Number of Works Done',
                style: {
                  color: '#4572A7'
                }
              }
              },{
              title: {
                text: 'Average',
                style: {
                  color: '#AA4643'
                }
              },
              opposite: true
            }],
            tooltip: {
              shared: true
            },
            legend: {
              layout: 'vertical',
              align: 'left',
              x: 40,
              verticalAlign: 'top',
              y: 40,
              floating: true,
              backgroundColor: '#FFFFFF'
            },
            series: [{
              name: 'Number of Works Done',
              color: '#4572A7',
              type: 'column',
              data:!{workData}
              },{
              name: 'Average',
              type: 'spline',
              color: '#AA4643',
              data:!{averageData},
              marker: {
                enabled: false
              },
              dashStyle: 'shortdot'
            }]
          });
        });
  else
    p high charts not loaded yet
